<h1 *ngIf="isOpen">მთავარი გვერდი</h1>
<small>{{isOpen  ? 'teqst' : "sad"}}</small>
<img [src]="src" class="transimg"  [ngClass]="imgtype == true ? respImg : '' "  [alt]="alt">
<div>
  <button class="btn btn-danger" (click)="updateDate()">მონაცემების განახლება</button>
</div>
<div>
  <button class="btn btn-success" (click)="show()">მოდალის გახსა (class) </button>
</div>

<!-- <div *ngIf="open" class="modals" [ngClass]="open ? 'show' : ''">
   <h1>მოდალი</h1>
</div> -->

<div *ngIf="open" class="modals show"  >
  <h1>მოდალი</h1>
</div>  