/* You can add global styles to this file, and also import other style files */
.galery{
    img{
        cursor: pointer;
    }
}

.spcolor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    margin: 7px;
    cursor: pointer;
}